.search-form {
  width: 334px;

  .search-btn {
    margin-top: 10px;
    text-align: center;
  }

  .search-item {
    margin-bottom: 10px;
  }
  .tip {
    margin-top: 10px;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.45);
    text-align: center;
  }
}